<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.7/pixi.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" media="all" th:href="@{/css/chat.css}"/>


</head>
<body>
<p></p>
<div></div>
<script src="/ts/src/Ajax.js"></script>
<script src="/ts/src/GameScene.class.js"></script>
<script src="/ts/src/ScenesManager.js"></script>
<script src="/ts/src/CreateComponent.js"></script>
<script src="/ts/src/GameParameters.js"></script>
<script src="/ts/src/Scenes/Title.js"></script>
<script src="/ts/src/Scenes/Home.js"></script>
<script src="/ts/src/Scenes/StandBy.js"></script>
<script src="/ts/src/Scenes/Battle.js"></script>
<script src="/ts/src/Scenes/Result.js"></script>
<script src="/ts/src/main.js"></script>
<main></main>
<footer>
    <p>version alpha2.2.0</p>
    <nav>
        <a href="mailto:glacekureha@gmail.com">メールフォーム</a>
        <a href="about" target="_blank">このサイトについて</a>
        <a href="https://twitter.com/Vell_Sound" target="_blank">twitter</a>
    </nav>
    <p>Copyright 2020</p>
</footer>
</body>
</html>