<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main">
    <div id="area-game" align="center">
        <iframe id="game_frame" src="hoge" width="1200" height="1200" scrolling="no" frameborder="0" border="0" style="height: 860px;">
            <!doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
            <html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <style>
                    body,td,div,span,p{font-family:arial,sans-serif;} a {color:#0000cc;}a:visited {color:#551a8b;}a:active {color:#ff0000;}body{margin: 0px;padding: 0px;background-color:white;}
                </style>
            </head>
            <body style="zoom: 1;">
                <!-- スクリプトとかCSSとか -->
                <div id="spacing_top" style="height:16px;"></div>
                <div id="flashWrap" style="width: 1200px; height: 720px;">
                    <iframe></iframe>
                </div>
            </body>
            </html>
        </iframe>
    </div>
</div>
</body>
</html>